.step4-container {
    background: black;
    color: white;
    height: 100vh;
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
  }
  
  .step4-header {
    display: flex; padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  
  .step4-header button {
    background: none;
    border: none;
    color: white;
    font-size: 19px;
  }
  
  .step4-title {
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0 50px;
  }
  
  .step4-guide {
    color: #FFA3EB;
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  .step4-profile-section {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  
  .step4-profile-img {
    width: 90px;
    height: 90px;
  }
  
  .step4-input-block {
    margin-bottom: 40px;
  }

  .step4-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #666;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 8px 0; margin-top: 5px;
    outline: none;
  }
  
  .step4-next-btn {
    margin-top: auto;
    background-color: #FFA3EB;
    color: black;
    padding: 14px 0;
    border: none;
    border-radius: 30px;
    font-size: 16px;
  }
  