/* 전체 화면 채우기 */
.step1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 40px 16px;
    box-sizing: border-box; user-select: none; 
  }
  input, textarea {
    user-select: text !important;
  }
  
  /* 중앙에 로고 배치 */
  .step1-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .step1-logo {
    font-size: 45px; font-weight: 400;
    letter-spacing: 8px;
    font-family: 'Lexend Zetta', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  /* 버튼 그룹 */
  .step1-button-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
  }
  
  .step1-google-btn,
  .step1-kakao-btn {
    background-color: white;
    border: none;
    border-radius: 40px;
    padding: 23px 16px;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .step1-kakao-btn {
    background-color: #2e2e2e;
    color: white;
  }
  
  /* 하단 링크들 */
  .step1-bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center; margin: 25px 25px 0 25px;
    font-size: 14px;
  }
  
  .step1-left-links a {
    margin-right: 17px; font-weight: 500;
    color: #FFA3EB;
    text-decoration: none;
  }
  
  .step1-create-btn {
    background: none;
    border: none; font-size: 13.7px;
    color: white; font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* 하단 영역 전체 묶음 */
  .step1-bottom-area {
    margin-top: auto;
  }
  