.step3-container {
    display: flex; background-color: #000;
    flex-direction: column; color: #fff;
    justify-content: space-between;
    height: 100vh;
    padding: 40px 12px;
    box-sizing: border-box;
  }
  
  .step3-header {
    display: flex; padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  
  .step3-header button {
    background: none;
    border: none;
    color: white;
    font-size: 19px;
  }
  
  .step3-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .step3-title {
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0 50px;
  }
  
  .step3-input-block {
    margin-bottom: 40px;
  }
  
  .step3-input-block label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #ccc;
  }
  
  .step3-input-wrapper {
    position: relative;
  }
  
  .step3-input {
    width: 100%;
    padding: 12px 0; 
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #666;
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  .step3-eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.7;
  }
  
  .step3-guide {
    font-size: 13px;
    color: #FFA3EB;
    margin-top: 10px;
    line-height: 1.4;
  }
  
  .step3-error {
    font-size: 12px;
    color: #ff5c5c;
    margin-top: 6px;
  }
  
  .step3-match {
    font-size: 12px;
    color: #FFA3EB;
    margin-top: 6px;
  }
  
  .step3-next-btn {
    width: 100%;
    margin-top: 30px;
    padding: 14px;
    font-size: 16px;
    background-color: #FFA3EB;
    color: black;
    border: none;
    border-radius: 30px;
    font-weight: bold;        /* 좌측 여백 */ 
  }
  