.calendar-wrapper {
    width: 100%;
    max-width: 390px;
    color: white;
    padding: 40px 16px 16px;
}

  .calendar-wrapper .calendar {
    width: 100%;
    padding: 16px;
    background-color: #1F1F1F;
    border-radius: 18px;
  }
  
  /* 범례 */
  .calendar-legend {
    display: flex;
    gap: 12px;
    font-size: 12px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  
  .legend-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
  }
  
  .legend-dot.content { background: #A566FF; }
  .legend-dot.fan { background: #FF4D6D; }
  .legend-dot.media { background: #00D8D8; }
  .legend-dot.event { background: #3E90F0; }
  .legend-dot.anniversary { background: #FF2BAC; }
  
  /* 헤더 */
  .notice-container .calendar-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .notice-container .calendar-header h5 {
    font-size: 26px;
    font-weight: bold;
    color: white;
  }
  
  .notice-container .calendar-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .notice-container .calendar-arrow.left { left: 0; }
  .notice-container .calendar-arrow.right { right: 0; }
  
  /* 툴바 */
  .notice-container .calendar-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0 21px;
  }
  
  .notice-container .toolbar-left {
    display: flex;
    gap: 8px;
    position: relative;
  }
  
  .notice-container .artist-select {
    background-color: #222;
    color: white;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .notice-container .arrow-down-icon {
    width: 10px;
    height: 10px;
  }
  
  .notice-container .artist-dropdown-container {
    position: relative;
  }
  
  .notice-container .artist-dropdown {
    list-style: none;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    background-color: #2A2A2A;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 6px 0;
    min-width: 100%;
    z-index: 10;
  }
  
  .artist-dropdown li {
    padding: 6px 12px;
    color: white;
    font-size: 13px;
    cursor: pointer;
  }
  
  .artist-dropdown li:hover {
    background-color: #444;
  }
  
  .notice-container .today-btn {
    background-color: #222;
    color: white;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .notice-container .today-btn:hover {
    background-color: #333;
  }
  
  .notice-container .alarm-icon-wrapper {
    background: #515151;
    border-radius: 8px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .notice-container .alarm-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
  }
  
  /* 요일 및 날짜 */
  .calendar-weekdays {padding-bottom: 12px;}
  .calendar-weekdays,
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 6px;
  }
  
  .notice-container .weekday {
    font-size: 13px;
    opacity: 0.7;
  }
  .notice-container .weekday-0 { color: #F55; }
  .notice-container .weekday-6 { color: #4FC3F7; }
  
  .calendar-day {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
    position: relative;
  }
  
  .calendar-day.selected {
    background: white;
    color: black;
    font-weight: bold;
  }
  
  .calendar-day.dimmed {
    opacity: 0.4;
  }
  
  .notice-container .day-number {
    font-size: 15px;
    font-weight: 800;
    line-height: 1;
  }
  
  .notice-container .dots-wrap {
    display: flex;
    gap: 2px;
    margin-top: 4px;
    height: 0px; 
    align-items: center;
    justify-content: center;
  }
  
  .notice-container .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
  
  .notice-container .dot.content { background: #A566FF; }
  .notice-container .dot.fan { background: #FF4D6D; }
  .notice-container .dot.media { background: #00D8D8; }
  .notice-container .dot.event { background: #3E90F0; }
  .notice-container .dot.anniversary { background: #FF2BAC; }
  