.notice-card-wrapper {
    width: 100vw; 
    overflow: visible; 
  }
  
  .notice-card-wrapper h4 {
    font-size: 21px;
    color: white;
    margin: 30px 0 20px;
    padding: 0 16px;
  }
  
.notice-card {
  width: 348px;              /* 고정 너비 */
  height: 104px;
  flex-shrink: 0;            /* 줄어들지 않게 */
  padding: 18px 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 16px;
}



  .notice-date {
    font-size: 13px;
    opacity: 0.8;
  }
  
  .notice-title {
    font-size: clamp(12px, 4vw, 15px);
    font-weight: bold;
    margin: 10px 0 4px;
  }
  
  .notice-description {
    font-size: 14px;
    line-height: 1.3;
  }
  