.notice-card-wrapper {
    padding: 0 16px 0;
  }
  
  .notice-card-wrapper h4 {
    font-size: 21px;
    color: white;
    margin: 30px 0 20px;
  }
  
  .notice-card-wrapper .notice-card {
    width: 352px;
    height: 104px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .notice-date {
    font-size: 13px;
    opacity: 0.8;
  }
  
  .notice-title {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 4px;
  }
  
  .notice-description {
    font-size: 14px;
    line-height: 1.3;
  }
  