.modal-overlay {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .place-list {
    list-style: none;
    padding: 0;
    margin: 15px 0;
  }
  
  .place-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .place-list li:hover {
    background-color: #f9f9f9;
  }
  
  .modal-overlay .close-button {
    width: 100%;
    background-color: #FFA3EB;
    color: #000;
    padding: 15px;
    margin-top: 30px;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    font-size: 16px;
  }