.vote-main-container {
    background-color: #333;
    border-radius: 16px;
    padding: 18px 18px;
    color: white;
    margin: 16px 0;
    box-sizing: border-box;
  }
  
  .vote-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .vote-title.none {
    text-align: center;
    margin: 5px 0;
    font-size: 16px;
    font-weight: 400;
  }
  
  .vote-title .dday-badge {
    display: inline-block;
    margin-left: 12px;
    padding: 2px 8px;
    font-size: 12px;
    color: white;
    border: 1px solid #fff;
    border-radius: 999px;
    vertical-align: middle;
    background: #525252;
  }
  
  .vote-options {
    list-style: none;
    padding-left: 0;
    margin-bottom: 12px;
  }
  
  .vote-options li {
    font-size: 14px;
    margin: 22px 8px;
  }
  
  .vote-btn {
    /* background-color: black; */
    /* color: white; */
    border: none;
    border-radius: 999px;
    padding: 8px 16px;
    font-size: 13px;
    cursor: pointer;
  }
  