.artist-ad-wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 390px;
    color: white;
    font-family: sans-serif;
  }
  
  .ad-header {
    padding: 67px 0 12px 12px;
    color: white;
    font-size: 18px ;
    font-weight: bold;
    z-index: 10;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }

  .artist-ad-wrapper .info-icon {
    cursor: pointer;
  }
  
  .ad-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  
  .ad-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  .ad-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
  }

  /* .ad-card:hover .ad-inner {
    transform: scale(1.12);
  } */
  
  .ad-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .ad-overlay {
    position: absolute;
    inset: 0;
    /* backdrop-filter: blur(6px); */
    z-index: 1;
  }
  
  .ad-text {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    z-index: 2;
    text-shadow: 0 0 4px rgba(0,0,0,0.6);
  }
  
  .ad-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .ad-desc {
    font-size: 13px;
    margin-top: 4px;
  }
  

  .info-icon.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  
  .tooltip-text.right {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 8px;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 150%; /* 아이콘 오른쪽에 띄움 */
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 12px;
    transition: opacity 0.2s ease;
  }
  
  .tooltip-text.right::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #333 transparent transparent; /* 왼쪽 방향 삼각형 */
  }
  
  .tooltip:hover .tooltip-text.right {
    visibility: visible;
    opacity: 1;
  }
  
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  