.event-banner-wrapper {width: clamp(300px, 93.6vw, 100%); box-sizing: border-box;}


.event-banner-wrapper .swiper {border-radius: 15px;}
.event-banner-wrapper .swiper-slide img {width: 100%; object-fit:cover; display: block; border-radius: 15px;}
.event-banner-wrapper .swiper-pagination {
  margin-top: 10px;
  position: relative;
}
.event-banner-wrapper .swiper-pagination-bullet { background-color: #ccc;opacity: 1; }
.event-banner-wrapper .swiper-pagination-bullet-active { background-color: var(--pagination-bullet);}

.event-banner-wrapper .event-text {
    padding: 30px 0 12px 0;
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
  }