.main-banner-wrapper {
  width: clamp(300px, 93.6vw, 100%);
  /* margin: 0 auto; */
  box-sizing: border-box;
  }

.main-banner-wrapper .swiper {border-radius: 15px;}
.main-banner-wrapper .swiper-slide img {width: 100%; object-fit:cover; display: block;}
.main-banner-wrapper .swiper-pagination-bullet { background-color: #ccc;opacity: 1; }
.main-banner-wrapper .swiper-pagination-bullet-active { background-color: #e9c4cd;}

/* 네비게이션 (화살표) */
.main-banner-wrapper .swiper-button-next,
.main-banner-wrapper .swiper-button-prev {color:#e9c4cd;font-weight: bold; top: 50%;}
.main-banner-wrapper .swiper-button-next::after,
.main-banner-wrapper .swiper-button-prev::after { font-size: 24px;}

.main-banner-wrapper .now-open-text { padding-bottom: 16px;
    color: white;
    font-size: 18px ;
    font-weight: bold;
    z-index: 10;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    pointer-events: none; /* 글자 위 클릭이 슬라이더에 방해 안 되게 */
}