.post-section {
    padding: 0px 16px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .post-header h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .write-btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid #FFA3EB;
    border-radius: 20px;
    background: transparent;
    color: white;
    font-size: 13px;
    gap: 4px;
  }
  
  .post-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .post-card {
    background-color: #242424;
    border-radius: 12px;
    padding: 19px 15.5px;
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
  }
  
  .post-thumb {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 4px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
  }
  
  .post-text {
    font-size: 13px;
    color: #aaa;
    line-height: 1.4;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .post-meta {
    font-size: 12px;
    color: #888;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .post-meta img {
    width: 12px;
    height: 12px;
    vertical-align: middle;
  }
  
  .scroll-top-area {
    /* margin-top: 20px; */
    width: 100%;
    height: 87px;
    background-image: url('../../assets/mypage/bottomBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; /* 이미지의 맨 위에서부터 시작 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
  }
  
  .top-icon {
    width: 20px;
    margin-bottom: 4px;
  }
  
  .top-text {
    font-size: 13px;
  }
  