.mypage-container .profile-section {
    width: 100%;
    height: 520px;
    position: relative;
    background-color: #000;
    color: white;
    font-family: sans-serif;
}

.mypage-container .profile-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mypage-container .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.mypage-container .bg-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62%,
    rgba(0, 0, 0, 1) 90%
    );
    top: 0;
    left: 0;
}

.mypage-container .profile-center {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
}

.mypage-container .profile-photo-wrap {
    position: relative;
    width: 84px;
    height: 84px;
}

.mypage-container .profile-photo {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
}

.mypage-container .setting-icon {
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 30px;
}

.mypage-container .today-badge {
    position: absolute;
    top: -52px;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.mypage-container .nickname {
    margin-top: 17px;
    font-size: 17px;
    font-weight: 600;
}

.mypage-container .status {
    font-size: 13px;
    color: #ccc;
    margin-top: 8px;
}

.mypage-container .profile-stats {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    padding: 0 8px;
}

.mypage-container .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px; 
    cursor: pointer;
}

.mypage-container .stat-top {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.mypage-container .stat-top .ticket {
    width: auto;
    height: 18px;
}
.mypage-container .stat-top .point {
    width: auto;
    height: 18px;
}


.mypage-container .stat-label {
    font-size: 18px;
    color: #fff;
}

.mypage-container .stat-bottom {
    font-size: 14px;
    font-weight: 300;
    color: #bbb;
}
