.ticket-card {
    display: flex;  
    margin: 0 16px 0px;
    color: white;
    border-bottom: 1px solid #414141;
  }

  .ticket-card-inner {
    display: flex;
    padding: 30px 16px;
    gap: 1rem;
  }
  
  /* .ticket-img {
    object-fit: cover;
  } */
  
  .ticket-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  .ticket-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .ticket-date {
    font-weight: 300;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 4px;
  }
  .ticket-location {
    font-weight: 600;
    font-size: 14px;
    color: #ccc;
  }

  .ticket-scroll-area {
    max-height: 100vh; /* 아래 '맨 위로' 버튼 높이 제외 */
    overflow-y: auto;
  }