.home-container {
    width: 100vw;
    max-width: var(--max-width);
    min-width: 320px;
    padding: 80px clamp(9.56px, 3.08vw, 14.78px) 120px;
    box-sizing: border-box;
    background: #000 url('../assets/mainBg.png') no-repeat center / cover;
    overflow: hidden;
  
    position: relative;
    z-index: 1;
  }
  
  /* ✅ Tidio 기본 챗봇 아이콘 위치 조정 (반응형 대응은 필요 시 추가) */
  #tidio-chat {
    width: 100% !important;
    position: fixed !important;
    /* bottom: 90px !important; */
    bottom: calc(var(--btm-nav) - 42px) !important;
    right: calc(50% - var(--max-width) + 24px) !important;
    transform: translateX(39px);  
    /* 또는 -12px로 실험 */
    #tidio-chat {transform: none !important;}
    z-index: 1000 !important;
  }
  
  /* 모바일 대응 (1024px 이하) */
  @media (max-width: 1024px) {
    #tidio-chat {
      right: calc((100vw - var(--max-width)) / 2 + 24px) !important;
    }
  }