.home-container {
    width: 100vw;
    max-width: var(--max-width);
    min-width: 320px;
    padding: 80px clamp(9.56px, 3.08vw, 14.78px) 0;
    box-sizing: border-box;
    background: #000 url('../assets/mainBg.png') no-repeat center / cover;
    overflow: hidden;
  
    position: relative;
    z-index: 1;
  }
  
  
  /* 모바일 대응 (1024px 이하) */
  @media (max-width: 1024px) {
    #tidio-chat {
      right: calc((100vw - var(--max-width)) / 2 + 24px) !important;
    }
  }