.moreArtist-container {
    background: #000 url('../assets/Home_moreArtist/moreArtistBG.png') no-repeat top center;
    background-size: 100% auto; 
    background-repeat: no-repeat;
    padding: 90px 20px 0px;
    padding-bottom: var(--btm-nav);
    color: white;
    min-height: 100vh;
    max-width: var(--max-width);
    min-width: 320px;
  }
  
  .moreArtist-container  .moreArtist-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    white-space: pre-line;
  }
  
  .moreArtist-container .artist-card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px;
  }
  
  .moreArtist-container .artist-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 22px;
    display: flex;
    align-items: flex-start;
    gap: 18px;
    min-width: 280px;
  }
  
  .moreArtist-container .artist-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }
  
  .moreArtist-container .artist-img {
    width: 107px;
    height: 109px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .moreArtist-container .artist-info {
    flex: 1;
  }
  
  .moreArtist-container .artist-info strong {
    font-size: 23px;
    color: #000;
    display: inline-block;
    width: auto;
    cursor: pointer;
  }
  
  .moreArtist-container .artist-info p {
    margin: 8px 0 0;
    font-size: 15px;
    color: #444;
    display: inline-block;
    width: auto;
    cursor: pointer;
  }
  
  .moreArtist-container .add-artist-button-wrap {
    display: flex;
    margin-top: 16px;
  }
  
  .moreArtist-container .add-artist-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    white-space: nowrap;  
    text-align: ellipsis; 
  }
  
  .moreArtist-container .add-artist-button.added {
    background: #000;
    color: #fff;
  }
  .follow-icon {
    width: 15px;
    padding-right: 5px;
    align-items: center;
    
  }

  @media (max-width: 370px) {
    .moreArtist-container .artist-card {
      padding: 5vw 4.5vw;
      border-radius: 8vw;
      gap: 5vw;
    }
  
    .moreArtist-container .artist-img {
      width: 28vw;
      height: 28vw;
      border-radius: 3.5vw;
      object-fit: cover;
      flex-shrink: 0; 
    }
  
    .moreArtist-container .artist-content {
      height: 28vw;  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2vw;
    }
  
    .moreArtist-container .artist-info strong {
      font-size: 6vw;
    }
  
    .moreArtist-container .artist-info p {
      font-size: 4vw;
      margin-top: 1vw;
    }
  
    .moreArtist-container .add-artist-button-wrap {
      margin-top: 4vw;
    }
  
    .moreArtist-container .add-artist-button {
      font-size: 4.2vw;
      padding: 2.2vw 4vw;
      border-radius: 8vw;
    }
  
    .follow-icon {
      width: 4vw;
      padding-right: 1vw;
    }
  }