.music-container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 120px;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Pretendard Variable';
}

.music-top {
  background: linear-gradient(to bottom, #010E18, #05497A);
  height: 250px;
  padding: 80px 20px 40px;
  text-align: center;
  position: relative;
}

.song-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  text-align: left;
}

.time-bar {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  padding: 0 12px 10px;
}

.album-art-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -120px;
  width: 240px;
  height: 240px;
  z-index: 2;
}

.album-art-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.album-art {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.album-center-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 40px; */
  /* height: 40px; */
  /* background: #000; */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.music-bottom {
  padding: 160px 30px 8px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.lyrics-preview {
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #CECECE;
  line-height: 2;
  text-align: center;
  cursor: pointer;
}

.lyrics-preview .pink {color: #A7DAFF;}

.bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.album-card {
  background: #969696;
  color: #000;
  border-radius: 36px;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.album-card .top-icon {
  width: 28px;
  height: 28px;
  margin-bottom: 8px;
}

.album-card .card-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 24px;
}

.album-add-btn {
  font-size: 28px;
  background: #000;
  color: #969696;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin: auto 0;
}

.album-card .sub {
  font-size: 11px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 6px;
}

.album-card .sub img {
  width: 14px;
  height: 14px;
}

.streaming-stats {
  width: 48%;
  font-size: 13px;
  color: #ddd;
}

.streaming-stats h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 24px 0 24px;
  color: #fff;
  text-align: center;
}

.streaming-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.streaming-stats li {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
}

.reward-tip {
  font-size: 12px;
  margin: 28px 0 24px;
  color: #aaa;
}

.reward-tip .highlight {
  color: #A7DAFF;
  font-weight: bold;
  text-decoration: underline;
}