.music-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Pretendard Variable';
}

.music-top {
  background: linear-gradient(to bottom, #010E18, #05497A);
  height: 250px;
  padding: 80px 20px 40px;
  text-align: center;
  position: relative;
}

.song-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

.artist-name {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  opacity: 90%;
}

.time-bar {
  position: absolute;
  top: calc(50% + 105px);
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #fff;
  opacity: 90%;
}

.album-art-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -150px;
  width: 240px;
  height: 240px;
  z-index: 2;
}

.album-art-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.album-art {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.album-center-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 40px; */
  /* height: 40px; */
  /* background: #000; */
  transform: translate(-50%, -50%);
  z-index: 2;
}

.music-bottom {
  padding: 180px 16px 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lyrics-preview {
  font-size: 15px;
  font-weight: 400;
  color: #CECECE;
  line-height: 1.75;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-bottom: 32px;
}

.lyrics-preview .pink {color: #A7DAFF;}

.player-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.progress-bar::-webkit-slider-runnable-track {
  height: 2px;
  background: linear-gradient(to right, #A7DAFF var(--progress), #666 var(--progress));
  border-radius: 2px;
}

.progress-bar {
  width: calc(100% - 32px);
  height: 2px;
  appearance: none;
  border-radius: 2px;
  outline: none;
  margin-bottom: 28px;
  background: linear-gradient(to right, #A7DAFF 0%, #666 0%);
  transition: background 0.3s linear;
}

input[type="range"] {
  transition: all 0.3s ease;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: #A7DAFF;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -4px; /* thumb가 중앙에 오도록 */
}

.progress-bar::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #A7DAFF;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.progress-bar::-moz-range-track {
  height: 2px;
  background: #666;
  border-radius: 2px;
}

.progress-bar::-moz-range-progress {
  height: 2px;
  background: #A7DAFF;
  border-radius: 2px;
}
.control-icons {
  width: calc(100% - 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.play-button {
  border: none;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-button img {
  width: 65px;
  height: 65px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.streaming-mission-container {
  position: fixed;
  bottom: var(--btm-nav);
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 100%;
  max-width: var(--max-width);
  z-index: 99;
  pointer-events: auto;
}

.streaming-mission-container.open {
  transform: translateY(0); /* 펼친 상태 */
}


.mission-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 0 12px;
  color: #B8B8B8;
  font-size: 14px;
  font-weight: 500;
  background: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 100;
}

.mission-tab img {
  width: 14px;
  height: 14px;
}

.mission-content {
  max-height: calc(100vh - var(--btm-nav) - 60px);
  overflow-y: auto;
  padding: 20px;
  background: #000;
  color: #fff;
}

.album-register {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #8a8a8a;
}

.scan-icon {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: #1f1f1f;
  border-radius: 8px;
}
.scan-icon img {
  width: 24px;
  height: 24px;
}

.album-list {
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.album-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.album-img {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  object-fit: cover;
}

.album-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.album-info .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}

.album-info .artist {
  font-size: 12px;
  color: #aaa;
}

.streaming-mission-container .option-icon {
  width: 18px;
  height: 18px;
}

.streaming-card {
  background: #192228;
  border-radius: 20px;
  padding: 20px 20px 14px;
  text-align: center;
  color: #eee;
}

.streaming-card h4 {
  font-size: 16px;
  margin-bottom: 24px;
}

.streaming-card .highlight {
  font-size: 13px;
  margin-bottom: 24px;
  color: #aaa;
}

.streaming-card .blue {
  color: #A7DAFF;
  text-decoration: underline;
  font-weight: bold;
}

.streaming-card .history {
  list-style: none;
  padding-bottom: 14px;
  margin: 0 0 14px;
  font-size: 13px;
  border-bottom: 1px solid #414141;
}

.streaming-card .history li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.streaming-mission-container .more-button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
}
