.ticket-scroll-area {
  height: 100vh;              /* 화면 전체 높이 */
  overflow-y: auto;           /* 세로 스크롤 활성화 */
  -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
}

.ticket-page {
  background-color: black;
  padding: 100px 0px 0px;
  min-height: max-content;
}

.ticket-headline {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
}
.ticket-headline b {
  font-weight: 500;
}

.scroll-top-area {
  width: 100%;
  height: 87px;
  background-image: url('../../assets/mypage/bottomBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.top-icon {
  width: 20px;
  margin-bottom: 4px;
}

.top-text {
  font-size: 13px;
}
