.alarm-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.alarm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.alarm-overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.alarm-panel {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 100%;
  max-width: var(--max-width);
  height: 100vh;
  background-color: #000;
  transition: transform 0.3s ease;
  z-index: 2;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 80px;
}

.alarm-panel.open {
  transform: translateX(0);
}

.alarm-panel::-webkit-scrollbar {
  display: none;
}

.alarm-panel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.alarm-header-bar {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 3;
}

.close-btn {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  padding: 0;
}

.close-btn img {
  width: 25px;
  height: 25px;
}

.alarm-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-align: center;
}

.alarm-detail-container {
  background-color: #000;
  padding: 0 16px 0px 16px;
  font-family: 'Pretendard', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.alarm-section {
  margin-bottom: 40px;
}

.alarm-subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 17px;
}

.alarm-box {
  background-color: #202020;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 15px;
  position: relative;
}

.alarm-box.alarm-new::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 7px;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
}

.alarm-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.alarm-tag {
  font-size: 13px;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 6px;
  color: #5ea2ff;
  background-color: rgba(94, 162, 255, 0.1);
}

.alarm-category {
  font-size: 13px;
  color: #ccc;
  margin-right: auto;
}

.alarm-time {
  font-size: 12px;
  color: #888;
}

.alarm-content p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
  line-height: 1.4;
}

.alarm-desc {
  font-size: 13px;
  color: #aaa;
  line-height: 1.4;
}

@media screen and (max-width: 400px) {
  .alarm-detail-container {
    padding: 0 12px 0px 12px;
  }
}
