.BottomNav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: var(--max-width);
    min-width: 320px;
    height: var(--btm-nav);
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    border-top: 1px solid #222;
  }
  
  .BottomNav button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .BottomNav img {
    width: 100%;
    padding: 0 20px env(safe-area-inset-bottom, 0);
    box-sizing: content-box;
  }