header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #000;
  }
  
  .logo {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .tempImgTop {
    display: block;
    width: 100%;
    max-width: 393px; /* ✨ 중요: 부모보다 안 커지게 함 */
    height: auto;
  }