.layout-container {
  position: relative; /* AlarmDetail 기준 부모로 설정 */
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - var(--btm-nav));
  overflow: hidden;   /* body 스크롤 방지 */
  display: flex;
  flex-direction: column;
}

.layout-scroll {
  flex: 1;
  overflow-y: auto;  /* ✅ 여기만 스크롤 허용 */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* padding-bottom: var(--btm-nav); */
  position: relative; /* 필요시 기준 요소 */
}
  .layout-scroll::-webkit-scrollbar,
  .side-menu::-webkit-scrollbar {
    display: none !important;
  }
  
  .layout-scroll,
  .side-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 100%;
    box-sizing: border-box;
  }
  