.leftSide {
    position: fixed;
    top: calc(50% - 100px);
    transform: translateY(-50%);
    left: calc(50% - var(--max-width) / 2 - 18vw);
    z-index: 1000;
  }

  .leftSide.tablet-left {
    left: calc(50% - var(--max-width) / 2);
  }

.leftSide .logo {
    width: 250px;
}

.leftSide .toogleBtn {
    text-align: center;
    margin-top: 20px;
}

.leftSide .toogleBtn button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: #ffa3eb;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .leftSide .toogleBtn button:hover {
    background-color: #e85fc7;
  }
  
  .leftSide .toogleBtn button:active {
    background-color: #cc4fb1;
    transform: scale(0.98);
  }
  
  .leftSide .toogleBtn .mobileBtn {
    margin-right: 24px;
  }
  


@media (max-width: 1024px) {
    .leftSide {
        display: none;
    }

  }

  @media (max-width: 1539px) {

    .leftSide.tablet-left {
      display: none;
    }
  }