.media-container {
  width: 100vw;
  max-width: var(--max-width);
  color: white;
  position: relative;
  /* overflow: hidden; */
}

.media-section {
  padding: 0 16px;
}

.media-section.new-section {
  padding: 0 16px 67.5px;
}

.media-section.new-section h4 {
  padding: 30px 0 31px;
}

.media-section h4 {
  font-size: 21px;
  color: #fff;
  padding: 0 0 25px;
}

.new-slide {
  width: 175px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.new-slide-img {
  display: block;
  width: 100%;
  height: 256px;
  object-fit: cover;
  cursor: pointer;
}

.media-swiper {
  overflow: visible;
}

.media-swiper .swiper-pagination {
  position: relative;
  margin-top: 16px;
  text-align: left;
  padding-left: 15px;
}

.media-swiper .swiper-pagination-bullet {
  background-color: #3C3C3C;
  opacity: 1;
}

.media-swiper .swiper-pagination-bullet-active {
  background-color: #FF8031;
}

.media-item {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.media-thumbnail {
  position: relative;
  width: 150px;
  flex-shrink: 0;
}

.media-thumbnail img {
  width: 100%;
  border-radius: 5px;
}

.time-badge,
.live-badge {
  position: absolute;
  bottom: 8px;
  right: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 6px;
}

.live-badge {
  background: #FF3B3B;
}

.media-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.media-title {
  font-size: 13px;
  margin-bottom: 8px;
}

.media-meta {
  font-size: 12px;
  color: #ccc;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header h4 {
  margin: 0;
  font-size: 21px;
  color: #fff;
}

.section-header.mv {
  margin-top: 40px;
}

.more-btn {
  font-size: 15px;
  color: #aaa;
  cursor: pointer;
  flex-shrink: 0;  
  padding: 0 0 25px;
}

.media-swiper .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.media-swiper .swiper-slide-active {
  opacity: 1;
}

/* ✅ 모달 스타일 추가 */
.media-modal {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);

  display: flex;
  align-items: center;
  justify-content: center;
}

.media-container .modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.media-container .modal-img {
  position: relative;
  width: 85%;
  max-width: 90%;
  max-height: 90%;
  z-index: 2;
}
