.notice-container {
    width: 100vw;
    max-width: 480px;
    color: white;
<<<<<<< HEAD
    /* padding-bottom: 120px; */
=======
    padding-bottom: 120px;
>>>>>>> 4fdd8305d799f61023082518c635f1a8874c94db
  }